# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# PyCharm
.idea/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.venv/
venv/
ENV/
env/